body{
    background-color:yellow;
    width:100%;
    overflow:-moz-hidden-unscrollable; 
}

.heading{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.number{
    list-style-type: decimal;
    position: relative;
    left: 500px;
    width: 100%;
}
.box{
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    transition: transform 2s ease-in-out;
    background-color: green;
}

.box1{
    transition: width 2s ;
}

.box1:hover{
    width: 300px;
}

.box2{
    transition: width 2s, height 2s;
}

.box2:hover{
    width: 300px;
    height: 300px;
}

.box3{
    transition: width 2s linear;
}

.box3:hover{
    width: 300px; 
}

.box4{
    transition: width 2s ease;
}

.box4:hover{
    width: 300px;
}

.box5{
    transition: width 2s ease-in;
}

.box5:hover{
    width: 300px;
}

.box6{
    transition: width 2s ease-out;
}

.box6:hover{
    width: 300px;
}

.box6{
    transition: width 2s ease-in-out;
}

.box6:hover{
    width: 300px;
}

a{
    font-size: 24px;
    font-weight: bold;
    margin-left: 600px;
    text-align: center;
}
